{% extends 'base.html' %}
{% block content %}

<h1>Welcome to Finch Collector!</h1>
<hr>

<p>Discover the fascinating world of finches with Finch Collector. Whether you're a seasoned bird watcher or new to the avian wonders, our site offers a unique glimpse into the vibrant lives of these beautiful birds.</p>

<p>Explore our extensive finch library, learn about different finch species, their habitats, and how to care for them. Join our community to share your experiences and learn from fellow finch enthusiasts.</p>


{% endblock %}
